.rbc-calendar {
  height: "65vh";
}

.rbc-event {
  padding: 0px !important;
  border-radius: 5px !important;
  border: none !important;
  background-color: transparent !important;
}

.rbc-event-label {
  display: none !important;
}

.rbc-timeslot-group {
  min-height: 60px !important;
}
